.spinner {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
  }

  .spinner:before {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid transparent;
    border-top: 4px solid navy;
    border-bottom: 4px solid navy;
    box-sizing: border-box;
    animation: spin 500ms linear infinite
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }