.spinner-container {
    height: 300px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-left: 275px;
    height: 100%;
    margin: 0 0 0 0;
}

.spinner {
    height: 35px;
    width: 35px;
    background-color: transparent;
    transform: translatex(-50%);
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
  }

  .spinner:before {
    content: '';
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid transparent;
    border-top: 4px solid rgb(155, 197, 231);
    border-bottom: 4px solid rgb(155, 197, 231);
    box-sizing: border-box;
    animation: spin 650ms cubic-bezier(.84,.3,.39,1.07) infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }